
n8n:
  db:
    type: postgresdb

  externalPostgresql:
    host: "postgres-cluster-pooler.dbs.svc.cluster.local"
    username: "n8n_user"
    database: "n8n"
    password: "{{ vault_n8n_db_password }}"

  externalRedis:
    host: "dragonfly-cluster.dbs.svc.cluster.local"
    username: "default"
    password: "{{ vault_dragonfly_password }}"

  ingress:
    enabled: true
    className: traefik
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
    hosts:
      - host: n8n.{{ domain }}
        paths:
          - path: /
            pathType: Prefix
    tls:
      - hosts:
          - n8n.{{ domain }}
  main:
    persistence:
      enabled: true
      accessMode: ReadWriteOnce
      size: 10Gi
      storageClass: longhorn

    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        cpu: 512m
        memory: 512Mi

  worker:
    mode: queue

    autoscaling:
      enabled: false

    waitMainNodeReady:
      enabled: true

    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        cpu: 512m
        memory: 512Mi

  webhook:
    mode: queue

    url: "https://webhook.{{ domain }}"

    autoscaling:
      enabled: false

    waitMainNodeReady:
      enabled: true
    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        cpu: 512m
        memory: 512Mi      