---
# default values
# https://artifacthub.io/packages/helm/rancher-stable/rancher?modal=values
rancher:
  hostname: rancher.{{ domain }}

  replicas: {{ [groups['master'] | length, 3] | min }}
  antiAffinity: required

  # Add this to disable webhooks during installation
  bootstrapPassword: "admin"  # Set a secure initial password
  features: ""  # Ensure no extra features are enabled
  
  # Temporarily disable webhook during installation
  webhook:
    enabled: false

  ingress:
    enabled: true
    ingressClassName: traefik
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      traefik.ingress.kubernetes.io/router.middlewares: default-default-headers@kubernetescrd
    pathType: ImplementationSpecific
    path: "/"
    servicePort: 80

  certmanager:
    install: false