---
immich:
  controllers:
    main:
      containers:
        main:
          image:
            tag: v2.3.1
          env:
            REDIS_HOSTNAME: "{{ dragonfly.cluster_name | default('dragonfly-cluster') }}.{{ dragonfly.namespace | default('dbs') }}.svc.cluster.local"
            REDIS_PASSWORD: "{{ dragonfly.password | default(vault_dragonfly_password) }}"            
            IMMICH_MACHINE_LEARNING_URL: ""
            DB_HOSTNAME:
              valueFrom:
                secretKeyRef:
                  name: immich-database-app
                  key: host
            DB_USERNAME:
              valueFrom:
                secretKeyRef:
                  name: immich-database-app
                  key: user
            DB_PASSWORD:
              valueFrom:
                secretKeyRef:
                  name: immich-database-app
                  key: password
            DB_DATABASE_NAME:
              valueFrom:
                secretKeyRef:
                  name: immich-database-app
                  key: dbname
            DB_URL:
              valueFrom:
                secretKeyRef:
                  name: immich-database-app
                  key: uri
  valkey:
    enabled: false

  immich:
    metrics:
      enabled: true
    persistence:
      library:
        existingClaim: immich-data

  server:
    enabled: true
    controllers:
      main:
        containers:
          main:
            image:
              repository: ghcr.io/immich-app/immich-server
              pullPolicy: IfNotPresent
    ingress:
      main:
        enabled: true
        annotations:
          traefik.ingress.kubernetes.io/router.entrypoints: websecure
          traefik.ingress.kubernetes.io/router.middlewares: default-default-headers@kubernetescrd
        hosts:
          - host: immich.{{ domain }}
            paths:
              - path: "/"
                service:
                  identifier: main
        tls:
          - hosts:
            - immich.{{ domain }}

  machine-learning:
    enabled: true
    controllers:
      main:
        containers:
          main:
            image:
              repository: ghcr.io/immich-app/immich-machine-learning
              pullPolicy: IfNotPresent
            env:
              TRANSFORMERS_CACHE: /cache
              HF_XET_CACHE: /cache/huggingface-xet
              MPLCONFIGDIR: /cache/matplotlib-config
    persistence:
      cache:
        enabled: true
        size: 10Gi
        type: persistentVolumeClaim
        accessMode: ReadWriteMany
        storageClass: longhorn

