sonarr:
  image:
    repository: ghcr.io/hotio/sonarr
    pullPolicy: IfNotPresent
    tag: "release-4.0.14.2939"

  env:
    TZ: {{ timezone }}
    PUID: "0"
    PGID: "0"
  
  ingress:
    main:
      enabled: true
      className: traefik
      annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
        traefik.ingress.kubernetes.io/router.middlewares: default-default-headers@kubernetescrd
      hosts:
        - host: sonarr.{{ domain }}
          paths:
            - path: /
              pathType: ImplementationSpecific
      tls:
        - hosts:
            - sonarr.{{ domain }}
  
  persistence:
    config:
      enabled: true
      accessMode: ReadWriteOnce
      size: 2Gi
      storageClass: longhorn
      mountPath: /config  

{% if lookup('k8s', kind='PersistentVolumeClaim', namespace='arr', resource_name='qbittorrent-data') %}
    media:
      enabled: true
      type: pvc
      mountPath: /downloads  
      existingClaim: qbittorrent-data
{% else %}      
