# default values https://github.com/cloudnative-pg/charts/blob/main/charts/cloudnative-pg/values.yaml
cnpg:
  monitoring:
    podMonitorEnabled: true
    enablePodMonitor: true
    grafanaDashboard:
      create: true
      namespace: "monitoring"
      configMapName: "cnpg-grafana-dashboard"
      labels:
        grafana_dashboard: "1"
