# default values https://github.com/jellyfin/jellyfin-helm/blob/master/charts/jellyfin/values.yaml
jellyfin:
  ingress:
    enabled: true
    className: traefik
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      traefik.ingress.kubernetes.io/router.middlewares: default-default-headers@kubernetescrd
    hosts:
      - host: jellyfin.{{ domain }}
        paths:
          - path: /
            pathType: Prefix
    tls:
      - hosts:
          - jellyfin.{{ domain }}

  podSecurityContext:
    fsGroup: 0
  
  securityContext:
    runAsUser: 0
    runAsGroup: 0
  

  persistence:
    config:
      enabled: true
      mountPath: /config
      storageClass: longhorn
      accessMode: ReadWriteOnce
      size: 1Gi
{% if lookup('k8s', kind='PersistentVolumeClaim', namespace='arr', resource_name='qbittorrent-data') %} 
    media:
      enabled: true
      type: pvc
      existingClaim: qbittorrent-data
{% else %}    
