cnpg:
    monitoring:
        podMonitorEnabled: true
        namespace: "monitoring"
        # -- The name of the ConfigMap containing the dashboard.
        configMapName: "cnpg-grafana-dashboard"        