---
# default values
# https://artifacthub.io/packages/helm/goauthentik/authentik

authentik:
  secret_key: "{{ vault_authentik_secret_key }}"
  error_reporting:
      enabled: false
  postgresql:
      password: "{{ vault_authentik_postgresql_password }}"
  bootstrap_token: "{{ vault_authentik_api_token }}"
  bootstrap_email: "{{ email }}"
  bootstrap_password: "{{ vault_authentik_user_password }}"
  postgresql:
    host: postgres-cluster-pooler.dbs.svc.cluster.local
    user: file:///postgres-creds/username
    password: file:///postgres-creds/password

server:
  ingress:
    enabled: true
    hosts:
      - authentik.{{ domain }}
    ingressClassName: traefik
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      kubernetes.io/ingress.class: traefik
      traefik.ingress.kubernetes.io/router.middlewares: default-default-headers@kubernetescrd
    tls:
      - hosts:
        - authentik.{{ domain }}
  volumes:
    - name: postgres-creds
      secret:
        secretName: authentik-db-credentials
  volumeMounts:
    - name: postgres-creds
      mountPath: /postgres-creds
      readOnly: true        

worker:
  volumes:
    - name: postgres-creds
      secret:
        secretName: authentik-db-credentials
  volumeMounts:
    - name: postgres-creds
      mountPath: /postgres-creds
      readOnly: true

redis:
    enabled: true
