---
# Default values https://artifacthub.io/packages/helm/longhorn/longhorn?modal=values
persistence:
  defaultClass: true
  defaultClassReplicaCount: "{{ [groups['master'] | length, 3] | min }}" 
  
defaultSettings:
  defaultDataPath: "/var/lib/longhorn"
  
instanceManager:
  resources:
    requests:
      cpu: 10m
      memory: 32Mi
    limits:
      cpu: 100m
      memory: 128Mi

longhornUI:
  replicas: "{{ [groups['master'] | length, 2] | min }}"