---
# default values
# https://artifacthub.io/packages/helm/goauthentik/authentik

authentik:
  secret_key: "{{ vault_authentik_secret_key }}"
  error_reporting:
    enabled: false
  bootstrap_token: "{{ vault_authentik_api_token }}"
  bootstrap_email: "{{ email }}"
  bootstrap_password: "{{ vault_authentik_user_password }}"
  postgresql:
    host: postgres-cluster-pooler.dbs.svc.cluster.local
    user: file:///postgres-creds/username
    password: file:///postgres-creds/password
  redis:
    host: "{{ dragonfly.cluster_name | default('dragonfly-cluster') }}.{{ dragonfly.namespace | default('dbs') }}.svc.cluster.local"
    password: "{{ dragonfly.password | default(vault_dragonfly_password) }}"
    db: 1

server:
  replicas: 1
  strategy:
    type: Recreate
  env:
    - name: AUTHENTIK_POSTGRESQL__DISABLE_SERVER_SIDE_CURSORS
      value: "true"
  resources:
    requests:
      cpu: 200m
      memory: 512Mi
    limits:
      cpu: 1000m
      memory: 1Gi
  livenessProbe:
    timeoutSeconds: 10
    periodSeconds: 30
    failureThreshold: 5
  readinessProbe:
    timeoutSeconds: 10
    periodSeconds: 30
    failureThreshold: 3
  startupProbe:
    timeoutSeconds: 10
    failureThreshold: 70
    initialDelaySeconds: 30
    periodSeconds: 20
  ingress:
    enabled: true
    hosts:
      - authentik.{{ domain }}
    ingressClassName: traefik
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      traefik.ingress.kubernetes.io/router.middlewares: default-default-headers@kubernetescrd
    tls:
      - hosts:
        - authentik.{{ domain }}
  volumes:
    - name: postgres-creds
      secret:
        secretName: authentik-db-credentials
  volumeMounts:
    - name: postgres-creds
      mountPath: /postgres-creds
      readOnly: true

worker:
  replicas: 1
  env:
    - name: AUTHENTIK_POSTGRESQL__DISABLE_SERVER_SIDE_CURSORS
      value: "true"
  resources:
    requests:
      cpu: 200m
      memory: 512Mi
    limits:
      cpu: 1000m
      memory: 1Gi
  livenessProbe:
    timeoutSeconds: 10
    periodSeconds: 30
    failureThreshold: 5
  readinessProbe:
    timeoutSeconds: 10
    periodSeconds: 30
    failureThreshold: 3
  startupProbe:
    timeoutSeconds: 10
    failureThreshold: 70
    initialDelaySeconds: 30
    periodSeconds: 20
  volumes:
    - name: postgres-creds
      secret:
        secretName: authentik-db-credentials
  volumeMounts:
    - name: postgres-creds
      mountPath: /postgres-creds
      readOnly: true

redis:
  enabled: false

postgresql:
  enabled: false
