# traefik-values.yaml
deployment:
  replicas: 3
additionalArguments:
  - "--providers.kubernetesingress.ingressclass=traefik"
  - "--ping"
  - "--metrics.prometheus"
service:
  enabled: true
  type: LoadBalancer
  spec:
    loadBalancerIP: "{{ kube_vip_address }}"
ingressRoute:
  dashboard:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: traefik

tlsStore:
  default:
    defaultCertificate:
      secretName: "{{ tls_secret_name }}"