deployment:
  replicas: {{ [groups['master'] | length, 3] | min }}

additionalArguments:
  - "--providers.kubernetesingress.ingressclass=traefik"
  - "--ping"
  - "--metrics.prometheus"

service:
  enabled: true
  type: LoadBalancer
  spec:
    loadBalancerIP: "{{ kube_vip_address }}"

ingressRoute:
  dashboard:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: traefik

tlsStore:
  default:
    defaultCertificate:
      secretName: "{{ cloudflare.tls_secret_name }}"

affinity:
  podAntiAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchLabels:
            app.kubernetes.io/name: traefik
            app.kubernetes.io/instance: traefik
        topologyKey: kubernetes.io/hostname      